/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');

/* Decoratiing website */
body {
    font-family: 'Edu NSW ACT Foundation', cursive;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

p {
    font-size: 1.5rem;
    margin: 0px;
}

#title {
    font-size: 2em;
    text-align: center;
    background-color: rgb(15, 148, 236);
    width: 80%;
    border-radius: 10px;
}

#title p {
    margin-bottom: 10px;
}

#details {
    margin: 10px 0px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#details img {
    width: 30%;
    border-radius: 10px;
}

#mini-details {
    display: inline;
    width: 100%;
}

#mini-details li {
    list-style: none;
    margin: 30px 0px;
    font-size: 1em;
}

#profile, #education, #skills, #Work{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    width: 80%;
}

h3 {
    font-size: 2em;
    border-bottom: 5px solid rgb(15, 148, 236);
    margin-bottom: 10px;
    width: 80%;
}

li {
    font-size: 1.5em;
}

footer {
    margin-top: 20px;
    padding-top: 50px;
}
