/* Decoratiing website */
body {
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #00C8FF;
}

#title {
    font-size: 62px;
}

.first-section {
    display: flex;
    flex-direction: row;
    margin: 20px 60px;
}

.profile-picture {
    margin: 20px 0px;
    border: 1px solid black;
}

.about-me {
    padding: 5px 20px;
    margin: 20px 0px;
    background-color: white;
}

.about-me h2 {
    font-size: 32px;
}

.about-me p {
    font-size: 24px;
}